//main: main.scss
//auth: auth.scss

$primary-color: #171A21;
$primary-color-transparent: #171a2173;
$secondary-color: #006B9B;
$third-color: #E5F3F0;

$background-color-primary: #C9E9E8;

$font-color-one: #C9E9E8;
$font-color-two: #FF8600;
$font-color-three: #FFE765;