@import 'variables';
@import 'header';
@import 'home';

html body {
    margin: 0;
    padding: 0;
    //background-color: $background-color-primary;
    background-image: url(/assets/background.png);
}